{% extends 'main/crucial.html '%}

{% block titles %}
About US
{%endblock%}
{% block content %}
<div class="Card_container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
        <div class="col">
            <div class="card">
                <img src="https://steamuserimages-a.akamaihd.net/ugc/792002622804784318/62A33418275168EE8CE19C364ECB3D35805DC989/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" class="card-img-top" alt="Tired Cat">
                <div class="card-body">
                    <h5 class="card-title">Студент КІ-202 Шевель Н.В.</h5>
                    <p class="card-text">Виконав Frontend сайту за допомогою HTMl CSS та Bootstrap. Для зв`язку мій Discord: SADTØPIA#0796 або натисніть на кнопку нижче для переходу на мій мудл аккаунт</p>
                    <a href="https://www.youtube.com/channel/UC6WYoGMslHbWIt_N42qYW2g" class="btn btn-outline-dark" target="_blank">Мудл</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="https://openseauserdata.com/files/5472082bcf3364e0b3a73f4970bb32bd.png" class="card-img-top" alt="Tired Streamer">
                <div class="card-body">
                    <h5 class="card-title">Студент КІ-202 Гуляй К.М.</h5>
                    <p class="card-text">Виконав Backend сайту за допомогою Python. Для зв`язку мій Discord: Quellson#6475 або натисніть на кнопку нижче для переходу на мій мудл аккаунт</p>
                    <a href="https://www.twitch.tv/sadt0pia" class="btn btn-outline-dark" target="_blank">Мудл</a>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
{% endblock %}
