{% extends 'main/crucial.html '%}

{% block titles %}
{{ page }}
{%endblock%}

{% block content %}
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <img class="rounded-img" src="https://t4.ftcdn.net/jpg/04/42/84/43/360_F_442844392_RQzLZVgAtrZ37BUZT3goX6WKi23esG2J.jpg" alt="Tasker_img" />
                <h1>Day Tasker</h1>
                <p class="lead text-muted">
                    Day Tasker is a small comfortable tasker that will help you to track your daily routine work or general home tasks
                </p>
                <a
                    href="{% url 'create_task' %}"
                    
                    class="btn btn-outline-dark">
                    Create Task
                </a>
                <a
                        href="{% url 'tasker-task-page' %}"
                        
                        class="btn btn-outline-dark">
                    Tasks
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}


